body {
 margin: 0;
 font-family: sans-serif;
 overflow-y:scroll;
 overflow-x: hidden;
}

.hero {
	background-image: url("polygon-background.jpg");
	background-color: #87E3F6;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
    width: 100vw;
    height: 100vh;
	
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	color: white;
}

.hero h1{
	font-size: 4em;
	margin-top: 350px;
	margin-bottom: 0.5em;
}

.hero h2{
	font-size: 3em;
}



